* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(151, 56, 56);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    flex: 1;
}
