body {
  background-color: #1a1a1a;
  color: #f0e6d2;
  font-family: 'Cinzel', serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #C1A35F;
  text-shadow: 0 0 5px #6B0504;
}

.cards-container {
  margin: 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background-color: #2e2e2e;
  border: 2px solid #C1A35F;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  transition: transform .3s;
}

.card:hover {
  transform: scale(1.05);
  border-color: #F1C76A;
  box-shadow: 0 0 10px #C1A35F;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 9999;
}

.modal-content {
  background: #1a1a1a;
  color: #F1C76A;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #F1C76A;
}

.fav-card {
  display: flex;
  gap: 10px;
  background: #292929;
  border: 1px solid #C1A35F;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
.fav-card img {
  width: 60px;
  border-radius: 5px;
}

.btn-eliminar {
  margin-top: 10px;
  background: #6B0504;
  color: white;
  padding: 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.fav-btn {
  background-color: #C1A35F;
  border: 2px solid #6B0504;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.fav-btn:hover {
  background-color: #F1C76A;
  box-shadow: 0 0 8px #C1A35F;
}