* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}

h1 {
    color: rgb(151, 56, 56);
}

.navbar {
  color: red;
  box-sizing: border-box;
  flex-flow: row;
  padding: 70px;
  margin: 50px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-secundario);
  padding: 0.9rem 1.2rem;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-end;
}
.navbar__title {
    text-align: center;
}
.navbar__inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.navbar__brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  flex-wrap: wrap;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 9999;
}

.modal-content {
  background: #1a1a1a;
  color: #F1C76A;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #F1C76A;
}

.fav-card {
  display: flex;
  gap: 10px;
  background: #292929;
  border: 1px solid #C1A35F;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
.fav-card img {
  width: 60px;
  border-radius: 5px;
}

.btn-eliminar {
  margin-top: 10px;
  background: #6B0504;
  color: white;
  padding: 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.fav-btn {
  background-color: #C1A35F;
  border: 2px solid #6B0504;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.fav-btn:hover {
  background-color: #F1C76A;
  box-shadow: 0 0 8px #C1A35F;
}